!!!
html
  head
    title
      block title
        | iswydt
        block subtitle
          | |
    block style
      link(rel='stylesheet', href='/css/bootstrap.css')
      link(rel='stylesheet', href='/css/style.css')
      style
        body { padding-top: 60px; }
    block scripts
  body
    .topbar
      .fill
        .container
          strong.brand(href='/') iswydt
          ul.nav
            li.nav-home
              a(href='/') Home
            li.nav-services
              a(href='/services') Services
          .user
            ul.nav
              if !user.isAuthenticated
                li.nav-login
                  a(href='/login') Login
                li.nav-register
                  a(href='/register') Register
              else
                li.nav-logout
                  a(href='/logout') Logout
    .container
      block main_content
      footer
        p
          | iswydt v#{version} |
          a(href='http://github.com/insin/iswydt') Fork me on GitHub
