!!!
html
  head
    title
      block title
        | iswydt
        block subtitle
          | |
    block style
      link(rel='stylesheet', href='/css/bootstrap.css')
      link(rel='stylesheet', href='/css/style.css')
      style
        body { padding-top: 60px; }
    block scripts
  block bodyclass
    bodyclass = ''
  body(class=bodyclass)
    .topbar
      .fill
        .container
          strong.brand(href='/') iswydt
          ul.nav
            li
              a.nav-home(href='/') Home
            li
              a.nav-services(href='/services') Services
          .user
            ul.nav
              if !user.isAuthenticated
                li
                  a.nav-login(href='/login') Login
                li
                  a.nav-register(href='/register') Register
              else
                li
                  a.nav-logout(href='/logout') Logout
    .container
      block main_content
      footer
        p
          | iswydt v#{version} |
          a(href='http://github.com/insin/iswydt') Fork me on GitHub
