extends hero

append subtitle
  | Login

block bodyclass
  bodyclass = 'login'

block content
  include mixins/forms
  form(action='/login', method='POST')
    fields = form.boundFieldsObj()
    fieldset
      legend Login
      mixin formErrors(form)
      mixin field(fields.username)
      mixin field(fields.password)
      != fields.next
      .actions
        input.btn.primary(type='submit', value='Login')
