extends standard

append subtitle
  | Services

block bodyclass
  bodyclass = 'services'

block content
  .page-header
    h1 Services
  ul
    for service in services
      li
        a(href='/services/#{service.name}')!= service.name
        | &nbsp;&ndash; #{service.description}
